extends ../layout/index

block contenido
    div.py-12
        h1.text-4xl.my-10.font-extrabold.text-center.text-indigo-600 Bienes
            span.font-normal.text-black  Raíces 
        
        h2.text-center.text-2xl.font-normal.text-black
            | Recuperar contraseña

        p.text-center.text-sm.text-gray-500.mt-2
            | Ingresa tu correo electrónico y te enviaremos instrucciones para restablecer tu contraseña

    .mt-8.mx-auto.max-w-xl
        .bg-white.py-8.px-4.shadow-2xl.rounded-2xl
            form.space-y-5(action="/auth/recuperar" method="POST")
                
                div.px-5
                    label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="correoUsuario") Correo Electrónico:
                    input#correoUsuario.w-full.border.border-gray-300.px-3.py-2.rounded-xl.placeholder-gray-400(
                        placeholder="Tu Email"
                        name="correoUsuario"
                        type="email"
                        required
                    )

                input(
                    class="w-full bg-indigo-600 text-white hover:bg-purple-700 font-bold py-3 cursor-pointer shadow-lg hover:shadow-xl uppercase rounded-2xl transition-all duration-300"
                    type="submit"
                    value="Enviar instrucciones"
                )
                div.flex.items-center.justify-between.pt-3
                    a(class="text-gray-500 text-sm hover:decoration-purple-600 hover:underline transition decoration-2" href="/auth/login") ¿Ya tienes cuenta? Inicia Sesión
                    a(class="text-gray-500 text-sm hover:decoration-purple-600 hover:underline transition decoration-2" href="/auth/recuperar") ¿Olvidaste tu contraseña? Recuperar contraseña

