extends ../layout/index
    
block contenido
    .py-10
        h1.text-4xl.my-10.font-extrabold.text-center.text-lime-400 Bienes
            span.font-normal.text-black Raíces 
        h2.text-center.text-2xl.font-normal.text-black= pagina

    .mt-8.mx-auto.max-w-xl.pb-5
        .bg-with.py-8.px-4.shadow-2xl.rounded-2xl
            form.space-y-5    
                div.px-5
                    label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="nombreUsuario") Nombre completo:
                    input#nombreUsuario.w-full.border.border-gray-300.px-3.py-2.rounded-xl.placeholder-gray-400(placeholder="p.e.: Angel Saúl Barrios Martínez" 
                    name="nombreUsuario" type="text")

                div.px-5
                    
                    label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="emailUsuario") Correo electronico:
                    input#emailUsuario.w-full.border.border-gray-300.px-3.py-2.rounded-xl.placeholder-gray-400(placeholder="p.e.: usuario@dominio.com" 
                    name="emailUsuario" type="email")

                div.px-5

                    label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="passwordUsuario") Contraseña:
                    input#passwordUsuario.w-full.border.border-gray-300.px-3.py-2.rounded-xl.placeholder-gray-400(placeholder="Por lo menos 8 caracteres" 
                    name="passwordUsuario" type="password")

                    //- activar el ojito para para poder ver la contraseña

                div.px-5

                    label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="confirmUsuario") Confirmar contraseña:
                    input#confirmUsuario.w-full.border.border-gray-300.px-3.py-2.rounded-xl.placeholder-gray-400(placeholder="Repite la contraseña anterior" 
                    name="confirmUsuario" type="password")
                    

                input(class="w-full bg-lime-400 hover:bg-lime-500 hover:transition text-gray-500 hover:text-white font-bold py-3 cursor-pointer shadow-lg rounded-4xl uppercase" type="submit" value="Registrar Usuario")

                div.flex.items-center.justify-between.pt-3
                    a(class="text-gray-500 text-sm hover:decoration-lime-400 hover:underline transition decoration-2" href="/auth/login") ¿Ya tienes cuenta? Inicia Sesión
                    a(class="text-gray-500 text-sm hover:decoration-lime-400 hover:underline transition decoration-2" href="/auth/recuperar") ¿Olvidaste tu contraseña? Recuperar contraseña



    footer.text-gray-500.py-6.mt-10
        .max-w-7xl.mx-auto.text-center.text-sm
            p © 2026 Jonhy Neri Hernández - 240558
